.maindiv1 {
  border: solid 1px black;
  height: 80px;
}
.img {
  position: relative;
  left: 75px;
  top: -25px;
}
.divimg {
  position: relative;
  left: 9px;
  top: 20px;
  border: solid 1px;
  border-radius: 22px;
  height: 46px;
  width: 46px;
  border: none;
}
.divimg:hover {
  background-color: #f1f3f4;
}
.img2 {
  position: relative;
  left: 20%;
}

.maindiv2 {
  border: solid 1px black;
  width: 100%;
  height: 50px;
}
.maindiv3 {
  border: solid 1px black;
  width: 15%;
  height: 500px;
}
.maindiv4 {
  border: solid 1px black;
  height: 500px;
  width: 1000px;
  position: relative;
  left: 100%;
  bottom: 465px;
}
.maindiv5 {
  padding: 20px;
  border: solid 1px black;
  height: 464px;
  width: 8%;
  position: relative;
  left: 100%;
  bottom: 679px;
}
.search {
  width: 48%;
  height: 66%;
  border-radius: 11px;
  position: relative;
  left: 11%;
  bottom: 37px;
  font-size: 17px;
  text-align: 50px;
}
#icon {
  position: relative;
  left: -488px;
  right: 100px;
  top: -35px;
  height: 232px;
  font-size: 19px;
}
.root {
  position: relative;
  left: 80%;
  bottom: 340%;
}
.root1 {
  position: relative;
  left: 84%;
  bottom: 374%;
}
.root2 {
  position: relative;
  left: 88%;
  bottom: 405%;
}
.root3 {
  font-size: 25px;
  position: relative;
  bottom: 410px;
  left: 94%;
}
.button {
  width: 11%;
  height: 80%;
  margin: 4px;
  border-radius: 32px;
  font-size: 21px;
  text-align: right;
  background-color: #ffffff;
}
.button:hover {
  background-color: #ffffff;
}
.plus {
  position: relative;
  right: 141px;
  top: 8px;
}
.child {
  position: relative;
  left: 17px;
}
.child1 {
  position: relative;
  left: 300px;
  bottom: 38px;
}
.child2 {
  position: relative;
  left: 600px;
  bottom: 70px;
}
.child3 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child4 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child5 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child6 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child7 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child8 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child9 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child10 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child11 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child12 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child13 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child14 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child15 {
  border: solid 1px;
  padding: 5px;
  position: relative;
  bottom: 74px;
}
.child16 {
  position: relative;
  bottom: 220px;
  left: 96px;
}
